<mat-toolbar color="primary">
  <span>My Angular Material App</span>
</mat-toolbar>

<div class="mat-app-background">
  <div class="mat-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Welcome to my app!</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="jwt == null">
        <form class="login-form">
          <mat-form-field>
            <input matInput placeholder="Username" [formControl]="usernameFc">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [formControl]="passwordFc" type="password">
          </mat-form-field>
          <button mat-raised-button (click)="tryLogin()">Login</button>
        </form>
      </div>
      <!-- <button mat-raised-button (click)="sendSomething()">Basic</button> -->
      <div *ngIf="jwt !== null">
        <form class="pub-form">
          <mat-form-field>
            <input matInput placeholder="Message" [formControl]="pubDataFc">
          </mat-form-field>
          <button mat-raised-button (click)="publishData()">Publish</button>
        </form>
      </div>
      <ul>
        <li *ngFor="let item of msgs">{{item}}</li>
      </ul>
    </mat-card-content>
  </div>
</div>